body {    
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #D9EDBF;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: 1.25rem;
    color: #000;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

/* Header*/

.nav-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    background: #6AAA84;  
}

.nav-menu a {
    text-decoration:none;
    display: block;
    padding: 1.2em;
}

ul {
    padding: 0;
    box-shadow: 0 2px 4px #A6CD37;
}

.link-nav {
    color: #fff;
}

.nav-li {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-li a:hover {
    background-color: #000;
    color: #A6CD37;
}

header {
    align-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo-company{
    max-width: 100%;
    height: auto;
}

/* Welcome message header */

.welcome-msg {
    padding: 50px;
    box-shadow: 0 2px 4px #A6CD37;
}

.welcome-msg h1 {
    margin: 0;
    padding-top: 20px;
}

.external-link-maps{
    color: #000;
}

.water-plan-icon{
    width: 120px;
    height: 120px;

}

/* Sale section */

.sale-section {
    padding: 50px;
    box-shadow: 0 2px 4px #A6CD37;
    overflow: hidden;
}

.sale-section h2 {
    margin: 0;
    padding-top: 20px;
    text-align: start;
}

.text-left-align {
    text-align: start;
}

.external-link-tulips{
    text-decoration: none;
    color: #000;
}

.tulip-icon{
    width: 40px;
    height: 40px;
    align-items: center;
}

.sale-img {
    float: left;
    padding-right: 30px;
    max-width: 100%;
    height: auto;
}

.sale-img-2 {
    float: inherit;
    padding-top: 30px;
    max-width: 100%;
    height: auto;
}

/* Inventory section */

.inventory {
    padding: 50px;
    box-shadow: 0 2px 4px #A6CD37;
}

.inventory h2 {
    margin: 0;
    padding-top: 20px; 
}

.inventory-pics-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.link-inv {
    max-width: 100%;
    height: auto;
    border: 2px solid #6AAA84;
}

/* Footer */

.logo-footer{
    max-width: 100%;
    height: auto;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    padding: 50px;
    background: linear-gradient(to right, #fff -30%,  #6AAA84);
    color: #fff;
}

.footer-links a {
    font-family: "Wix Madefor Display", sans-serif;
    text-decoration:none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #6AAA84;
}

.footer-links a:hover {
    background-color: #000;
    color: #A6CD37;
    border-bottom: 2px solid #A6CD37;
}

.footer-company-name {
    font-size: 1rem;
    margin-top:10px;
    color: #fff;
}

.footer-center h3 {
    margin: 0;
    padding-top: 30px;
}

.footer-right h3 {
    margin: 0;
    padding-top: 30px;
}

/* social media icons */
.icons {
    padding: 10px 10px 0 10px;  
    color: #fff; 
    
  }

/* icons center contact */
.icons-center {
    padding-right: 10px;
    
}

.media-icons a {
    font-size: 1rem;
}

.contact-text-font-size {
    font-size: 1rem;
    margin: 2px;
    color: #fff;
}

.external-link {
    font-size: 1rem;
    margin: 2px;
    color: #fff;
}

.ext-link-decor{
    text-decoration: none;
}

.hours-text-font-size{
    font-size: 1rem;
    margin: 2px;
    color: #fff;
}


/* media query footer */

@media (max-width: 880px) {
   
   .footer-flex{ 
    display: grid;
    text-align: center; 
    padding: 10px;
    background: linear-gradient(to bottom, #fff -25%,  #6AAA84);
    }

  }
