body {    
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #D9EDBF;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: 1.25rem;
    color: #000;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

/* Header*/

.nav-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    background: linear-gradient(to bottom, #fff -70%,  #2B4A39); 
}

.dropdown:hover .dropdown-content {
    display: block;
    text-decoration: none;
    position: absolute;
    background: linear-gradient(to bottom, #fff -70%,  #2B4A39); 
}

.dropdown-content {
    display: none;
    list-style-type: none;
}

ul.dropdown-content {
    padding: 0;
    text-align: left;
}

.nav-menu a {
    text-decoration:none;
    display: block;
    padding: 1.2em;
}

.nav-menu {
    padding: 0;
    box-shadow: 0 2px 4px #A6CD37;
} 

.link-nav {
    color: #fff;
}

.nav-li {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-li a:hover {
    background-color: #000;
    color: #A6CD37;
    
}

/* text header section */
header {
    align-content: center;
}

/* logo header */
.logo-container {
    display: flex;  
    align-items: center;
    justify-content: center;
    
}

.logo-company{
    max-width: 100%;
    height: auto;
    padding: 20px;
}

/* Welcome message header */

.welcome-msg {
    padding: 50px;
    box-shadow: 0 2px 4px #A6CD37;
}

.welcome-msg h1 {
    margin: 0;
    padding-top: 20px;
}

.external-link-maps{
    text-decoration: none;
}

.raleigh-img {
    max-width: 100%;
    height: auto;
    margin: 20px 0 0 0;
}

/* Sale section */

.sale-section {
    padding: 50px;
    box-shadow: 0 2px 4px #A6CD37;
    overflow: hidden;
}

.sale-section h2 {
    margin: 0;
    padding-top: 20px;
    text-align: start;
}

.text-left-align {
    text-align: start;
}

.external-link-tulips{
    text-decoration: none;
    color: #000;
}

.tulip-icon{
    width: 40px;
    height: 40px;
    align-items: center;
}

.sale-img {
    float: left;
    clear: both;
    max-width: 100%;
    height: auto;
    margin-right: 30px;
}


/* Inventory section */

.inventory {
    padding: 50px;
    box-shadow: 0 2px 4px #A6CD37;
}

.inventory h2 {
    margin: 0;
    padding-top: 20px; 
}

.inventory-pics-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.link-inv {
    max-width: 100%;
    height: auto;
    
}

/* Footer */

.logo-footer{
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    padding: 25px;
    background: linear-gradient(to bottom, #fff -70%,  #2B4A39);
    color: #fff;
}

.footer-links a {
    font-family: "Wix Madefor Display", sans-serif;
    text-decoration:none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

.footer-links a:hover {
    background-color: #000;
    color: #A6CD37;
    border-bottom: 2px solid #A6CD37;
}

.footer-company-name {
    font-size: 0.7rem;
    margin-top:10px;
    color: #fff;
}

.footer-center h3 {
    margin: 0;
    padding-top: 30px;
}

.footer-right h3 {
    margin: 0;
    padding-top: 30px;
}

/* social media icons */
.icons {
    padding: 10px 10px 0 10px;  
    color: #fff; 
  }

.icon-facebook {
    width: 45px;
    height: 45px;
}

.icon-x {
    width: 40px;
    height: 45px;
}

/* icons center contact */
.icons-center {
    padding-right: 10px;
    width: 30px;
    height: 30px;    
}

.media-icons a {
    font-size: 1rem;
}

.contact-text-font-size {
    font-size: 1rem;
    margin: 2px;
    color: #fff;
}

.external-link {
    font-size: 1rem;
    margin: 2px;
    color: #fff;
}

.ext-link-decor{
    text-decoration: none;
}

.hours-text-font-size{
    font-size: 1rem;
    margin: 2px;
    color: #fff;
}


/* media query footer */

@media (max-width: 880px) {
   
   .footer-flex { 
       display: grid;
       text-align: center; 
       padding: 10px;
       background: linear-gradient(to bottom, #fff -50%,  #2B4A39);
    }

    .sale-section h2 {
      text-align: center; 
    }

    .sale-img {
      display: flex;
      max-width: 100%;
      height: auto;
      margin: 20px 0 20px 0;
    }

    /* text in the sale section */

    .text-left-align {
        text-align: center;
    }

}


  /* ABOUT PAGE */

  /* mission section */

 .mission-section {
    padding: 20px;
    box-shadow: 0 2px 4px #A6CD37; 
  }

  .tex-mission {
 justify-content: center;
  }

  .picture-about-1 {
    float: inherit;
    max-width: 100%;
    height: auto;
}

  
  /* services section */

  .services-section {
    padding: 20px;
    box-shadow: 0 2px 4px #A6CD37;    
    overflow: hidden;

 }

  .picture-about-2 {
    float: right;
    max-width: 100%;
    height: auto;
    
 }

  .services-ul {
    text-align: start;
  }


  /* why section */

  .why-section {
    text-align: left;
    padding: 20px;
 }

  .why-section h2 {
    text-align: center;
  }

  .why-li {
    list-style: none;
    padding-left: 10px;
  }

  .picture-about-3 {
    float: left;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    
 }

 /* MEDIA QUIERY ABOUT PAGE */

 @media (max-width: 880px) {
 

    .services-section {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .picture-about-2 {
        float: inherit;
        margin-left: 0;
        margin-bottom: 8px;
    }
    
    .why-section {
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .picture-about-3 {
     margin-right: 0;   
        
    }

    ul.why-section-ul {
        padding: 0;
    }

    
 }


 /* INDOOR PLANTS PAGE */

 .indoor-plants-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
 }

 /*this make the benefits indoor plants align left  */
 .list-indoor-plants {
    text-align: left;
    
 }

 .img-main-indoor {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    margin-right: 30px;
 }

 /* image gallery container */

 .indoor-img-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
 }

 .gallery-img {
    max-width: 100%;
    height: auto;
 }
 

 /* OUTDOOR PLANTS PAGE */

 .list-outdoor-plants {
    text-align: left;
    
 }

 .img-main-outdoor {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    margin-right: 30px;
 }

 /* image gallery container outdoors */

 .outdoor-img-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 30px;
 }

 .gallery-img {
    max-width: 100%;
    height: auto;
 }


 /* CONTACT FORM page */
 
 .leaf-icon {
    width: 45px;
    height: 45px;
 }

 .form-section {
    font-family: "Wix Madefor Display", sans-serif;
    text-align: left;
    padding: 20px;
 }

 .form-section h1 {
    font-family: "Rufina", serif;
 } 

 button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
 }

 legend {
    font-weight: bold;
 }

 input, textarea, select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="text"], input[type="tel"], textarea, select{
    width: 12em;
    padding: 5px;
    margin: 10px 10px 10px 0;
    border-radius: 7px;
    background-color: #e8f0d4;
  }
  
  /* This make the texarea bigger and align the text if necessary */
  
  textarea {
    width: 30em;
  }

  /* Button form style */

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

 button {
    display: block;
    align-self: center;
    color: #fff;
    border: 2px solid #fff;
    background-color: #2B4A39;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    margin: 20px 0 20px 0;
    transition-duration: 0.4s;
    width: 25%;
  }


  button:focus {
    border: 2px solid yellow;

  }

 button:hover {
    background-color: white;
    border: 2px solid #2B4A39;
    color:#2B4A39;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  button:active {
    background-color: #A6CD37;
    border: 2px solid #2B4A39;
    color:#2B4A39;
    font-weight: bold;
    
  }

/* No working - changing the background color for the text next to the checkboxes */
  input [type="checkbox"] + label {
    background-color: #fff;
  }

  /* Change the background color in the texbox */
  input:focus {
    background-color: #fff;
  }

  textarea:focus {
    background-color: #fff;
  }


  /* media queries for the Form page */

  @media (max-width: 541px) {

    textarea {
        width: auto;
    }

    button {
        align-content: center;
        width: auto;
    }

  }
    
  

 


